<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', path='jquery-3.6.3.min.js') }}"></script>
</head>
<body>

<div>
    <h1>parent_id: {{ parent_id }}</h1>
</div>

<script>

var parent_id = '{{parent_id}}'
console.log(parent_id)
$.ajax({
        url: "https://sbermegamarket.ru/api/mobile/v1/catalogService/catalog/menu",
        type: "POST",
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(
            {"depthLevel":2, "parentId": parent_id }
        ),
        success: function (result) {
            console.log(result)
        }
    });
</script>
</body>
</html>