<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', path='jquery-3.6.3.min.js') }}"></script>
</head>
<body>


<div>
    <h1>collection_id: {{ collection_id }}</h1>
    <h1>limit: {{ limit }}</h1>
    <h1>offset: {{ offset }}</h1>
</div>

<script>

var collection_id = '{{collection_id}}'
var limit = {{limit}}
var offset = {{offset}}
console.log(collection_id)
$.ajax({
        url: "https://sbermegamarket.ru/api/mobile/v1/catalogService/catalog/search",
        type: "POST",
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(
            {
                "requestVersion": 10,
                "limit": limit,
                "offset": offset,
                "collectionId": collection_id,
                "selectedAssumedCollectionId": '',
                "isMultiCategorySearch": false,
                "searchByOriginalQuery": false,
                "selectedSuggestParams": [],
                "sorting": 0,
                "ageMore18": 2,
                "showNotAvailable": true,
            }
        ),
        success: function (result) {
            console.log(result)
        }
    });
</script>
</body>
</html>